{% extends 'regs/index.html' %}
{% block index-nav %}
    <!-- form starts here -->
    <div class="container w-50 mt-5 mx-auto ">
        <div>
            <p class="display-6 text-center"> Reset Password </p>
        </div>
        <form action="" method="get" class=" row needs-validation " >
            <div class=" d-grid g-2">
                
                <div class="mb-3 row">
                    <label for="first Name" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" required class="form-control" id="researcher_email" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" required class="form-control" id="researchers_password" placeholder="************">
                    </div>
                </div>
                
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3 w-100" style=" border-radius: 50px ;">Reset Password</button>
                </div>

            </div>
    </div>
    </form>

    </div>
    <!-- form ends here -->
{% endblock %}