<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home | Dmhcs </title>
</head>

<body>
    <!-- nav bar starts -->
    {% block index-nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" font-size: 1.2rem ;">
        <div class="container-fluid">
            <a class="navbar-brand  display-6 fw-bold " href="#" style="position:relative; left:17vw;">DMHCS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" container w-100 ">
                <div class="collapse navbar-collapse col align-self-end " id="navbarNav">
                    <ul class="navbar-nav " style="position:fixed; left: 51vw">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'regs:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%    url 'regs:hospital'  %}">Hospital</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'regs:patient' %}">Patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%    url 'regs:regulator'  %}">Regulators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'regs:research' %}">Researchers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" >FAQ's</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- nav bar ends -->
    
    <!-- main lock up starts -->
    <div class="container position-fixed   start-25 " style=" top : 25vh ; left : 17vw">
        <div class="row">
            <div class="col w-25 ">
                <h1 class="display-2  "> Digitizing collection of maternal health data in Tanzania. </h1>
                <p class=" lead " style=" font-size : 1.5rem ">Revolutionizing the way maternal health data is processed
                    in Tanzania by digitizing maternal health cards.</p>
                    <a href="{% url 'regs:stakeholders'%}" style="text-decoration: none; " > <button type="button" class="btn btn-outline-primary btn-lg w-50 " style="border-radius: 50px;">SIGN IN </button> </a>
                <style>
                    a:hover{
                        text-decoration: none;
                        color: white;
                    }
                </style>
            </div>
            <div class="col-6 position-relative " style="right:2vw;">
                <img alt="image of a doctors" src="{% static '/images/rafiki.png' %}">
            </div>

        </div>
    </div>
    {% endblock %}
    <!-- main lock up ends -->
    <!-- java script links -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>