<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMHCS</title>
</head>

<body>
    <!-- main content starts-->
    <div class=" container-fluid w-100 vh-100 position-fixed" id="loader"
        style="background-color: #304969; opacity: 0.5;">
        <div class="sk-chase m-auto position absolute top-50">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>
    <!-- main content ends -->   
    <script src="{% static 'js/main.js' %}"></script>
    <!-- for main js -->
    
</body>

</html>