<!-- extending index page nav bar -->
{% extends './index.html' %}

{% block index-nav %}
<nav class="navbar navbar-expand-lg navbar-light " style=" font-size: 1.2rem ;">
    <div class="container-fluid">
        <a class="navbar-brand  display-6 fw-bold " href="{% url 'regs:home' %}" style="position:relative; left:17vw;">DMHCS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" container w-100 ">
            <div class="collapse navbar-collapse col align-self-end " id="navbarNav">
                <ul class="navbar-nav " style="position:fixed; left: 51vw">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'regs:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%    url 'regs:hospital'  %}">Hospital</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'regs:patient' %}">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%    url 'regs:regulator'  %}">Regulators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'regs:register_researcher' %}">Researchers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" >FAQ's</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- form starts here -->
<div class="container w-50 mt-5 mx-auto ">
    <div>
        <p class="display-6 text-center">Register as a Researcher</p>
    </div>
    <form action="{% url 'regs:register_researcher' %}" method="POST" class=" row  ">
        {% csrf_token %}
        <div class=" d-grid g-2">
            <div class="mb-3 row">
                <label for="first Name" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" required class="form-control" id="researcher_f_name" name="first_name">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Second Name" class="col-sm-2 col-form-label">Second Name</label>
                <div class="col-sm-10">
                    <input type="text" required class="form-control" id="researcher_s_name" name="last_name">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Insitution Name" class="col-sm-2 col-form-label">Insitution Name</label>
                <div class="col-sm-10">
                    <input type="text" required class="form-control" id="i_name" name="institution_name"
                        placeholder="University Of Dar es Salaam">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="first Name" class="col-sm-2 col-form-label">Institution ID</label>
                <div class="col-sm-10">
                    <input type="number" required class="form-control" id="researcher_insitution_id" placeholder="" name="institution_id" >
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Phone Number" class="col-sm-2 col-form-label">Phone Number</label>
                <div class="col-sm-10">
                    <input type="tel" required class="form-control" id="researcher_phone_number" name="phone_number"
                        placeholder="25575364****">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="national ID" class="col-sm-2 col-form-label">National ID</label>
                <div class="col-sm-10">
                    <input type="text" required class="form-control" id="national_id" placeholder="19870523***********" name="res_national_id">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="first Name" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" required class="form-control" id="researcher_email" name="email"
                        placeholder="alexgmkwizu@gmail.com">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" required class="form-control" id="researchers_password" name="password"
                        placeholder="************">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="first Name" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" required class="form-control" id="confirm_researchers_password"
                        placeholder="confirm password">
                </div>
            </div>
            <div class="mb-3 row mx-5" style="position: relative; left:5.5vw;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="True" id="invalidCheck" required name="agree_terms" >
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <div class="mb-3 row  p-2 ">
                <div class="col-sm-12 position-relative  " style="left:38.5vw; text-decoration: none; color: #0d6efd;">
                    <a href="{% url 'regs:loginresearcher' %}" style="text-decoration: none; color: #0d6efd;">Have
                        an Account ? Login </a>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3 w-100"
                    style=" border-radius: 5px ;">Register</button>
            </div>

        </div>
</div>
</form>

</div>
<!-- form ends here -->
{% endblock %}