<!-- extending regulatordash.html -->
{% extends "regs/regulatordash.html" %}
<!-- loads block -->
{% block regulatorlayout %}
<div class="container py-3 px-5">
    <canvas id="myChart"></canvas>
</div>



<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock%}