<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!-- {% load static %} -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- main css -->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>main | dashboard</title>
</head>

<body style="margin: 0; padding: 0; min-height: 100vh;  box-sizing: border-box; background-color: #ecf0f4;">
    <!-- main frame starts here -->
    <!-- basedash-html -->

    <!-- sidebar starts here -->
    <div class="container-fluid sidebar col-2 vh-100 fixed-top flex-column"
        style="background-color: #304969; margin-left:0; border-right: 1px solid #ecf0f4; overflow-x: auto; ">

        <div class="container">
            <a class="navbar-brand px-3 text-center" href="#">
                <img src="{% static '/images/project-logo.png' %}" alt="" style="width:173px; height:43px;">
            </a>
        </div>
        <div class="py-4">
            <h6 class="text-bold text-center text-light"> <i class="bi bi-speedometer2 px-1"></i>RESEARCHER DASHBOARD
            </h6>
        </div>
        <!-- accordion starts -->
        <!-- profile accordion starts -->

        <div class="accordion w-75 m-auto py-2" id="accordionExample">
            <!-- homebut starts -->
            <div>
                <div class="accordion-item py-2">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="bi bi-house px-3"></i> Home
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="dash-drop w-100 container-fluid">
                                <li class=" py-1"><a class="link-dash " style="text-decoration: none; " href="#"><button
                                            type="button" class="w-100 btn btn-secondary" style="opacity: 0.7;">Home
                                            Page</button></a></li>
                            </ul>
                        </div>
                        <style>
                            ul.dash-drop {
                                list-style-type: none;
                                margin: 0;
                                padding: 0;
                                overflow: hidden;
                            }
                        </style>
                    </div>
                </div>
            </div>
            <!-- homebut ends -->
            <!-- patientbut starts -->
            <div class="py-3">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <i class="bi bi-clipboard2-pulse px-3"></i> Publications
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="dash-drop w-100 container-fluid">
                                <li class=" py-1"><a class="link-dash " style="text-decoration: none; " href="#"><button
                                            type="button" class="w-100 btn btn-secondary"
                                            style="opacity: 0.7;">Published </button></a></li>
                                <li class=" py-1"><a class="link-dash " style="text-decoration: none; " href="#"><button
                                            type="button" class="w-100 btn btn-secondary" style="opacity: 0.7;">Pending
                                        </button></a></li>
                                <li class=" py-1"><a class="link-dash " style="text-decoration: none; " href="#"><button
                                            type="button" class="w-100 btn btn-secondary" style="opacity: 0.7;">Data
                                            Requests</button></a></li>
                            </ul>
                        </div>
                        <style>
                            ul.dash-drop {
                                list-style-type: none;
                                margin: 0;
                                padding: 0;
                                overflow: hidden;
                            }
                        </style>
                    </div>
                </div>
            </div>
            <!-- patientbut ends -->
            <!-- reportbut starts -->
            <div class="py-3">
                <div class="accordion-item py">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            <i class="bi bi-clipboard2-pulse px-3"></i> Reports
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="dash-drop w-100 container-fluid">
                                <li class=" py-1"><a class="link-dash " style="text-decoration: none; " href="#"><button
                                            type="button" class="w-100 btn btn-secondary" style="opacity: 0.7;">Generate
                                            Report</button></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- reportbut ends -->
            <!-- profilebut starst -->
            <div class="py-3">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            <i class="bi bi-person px-3"></i> Profile
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="dash-drop w-100 container-fluid">
                                <li class=" py-1"><a class="link-dash " style="text-decoration: none; " href="#"><button
                                            type="button" class="w-100 btn btn-secondary" style="opacity: 0.7;">View
                                            Profile</button></a></li>
                                <li class=" py-1"><a class="link-dash " style="text-decoration: none; " href="#"><button
                                            type="button" class="w-100 btn btn-secondary" style="opacity: 0.7;">Edit
                                            Profile</button></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- profilebut ends -->
            <!-- settingsbut start -->
            <div class="py-3">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            <i class="bi bi-gear px-3"></i> Settings
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="dash-drop w-100 container-fluid">
                                <li class=" py-1"><a class="link-dash " style="text-decoration: none; " href="#"><button
                                            type="button" class="w-100 btn btn-secondary" style="opacity: 0.7;">Contact
                                            Help ?</button></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- settingbut ends -->
        <!-- accordion ends -->
    </div>
    <!-- sidebar ends here -->
    <!-- contentbar starts here -->
    <!-- nav bar starts here -->
    <ul class="nav justify-content-end " style="background-color:#304969 ;">

        <li class="nav-item">
            <div class="dropdown">
                <a class="btn btn-secondary bg-light text-dark dropdown-toggle" href="#" role="button"
                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Log Out
                </a>

                <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                    <li><a class="nav-link fs- text-bold" href="{% url 'regs:home' %}"
                            style="text-decoration: none; color:rgb(219, 45, 45)"><i class="bi bi-box-arrow-right"></i>
                            &nbsp; Log
                            Out </a></li>
                </ul>
            </div>
        </li>



    </ul>
    <!-- nav bar ends here -->
    <!-- main content here -->
    <div class="py-5" style="margin-left:17vw" style="overflow-x: auto;">
        <!--statistical data section  -->
        <div class="container px-4">
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3 border bg-light " style="border-radius: 15px;">
                        <h3>Number of Publications 43 </h3>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light " style="border-radius: 15px;">
                        <h3>Cited Publications 32</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light " style="border-radius: 15px;">
                        <h3>Collaborators 23</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- table for recent publications -->
        {% block researchlayout %}

        <div class="container py-5 px-4">
            <table class="table table-responsive table-lg table-bordered bg-light caption-top " aria-label="some"
                style="border-radius: 15px;" style="width:85vw;">
                <caption>Recent Publications</caption>
                <thead class="table-primary">
                    <tr>
                        <th scope="col"># (S/NO)</th>
                        <th scope="col"> Publication Title</th>
                        <th scope="col">Publishers</th>
                        <th scope="col">Date Published</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- table for data requests -->
        <div class="container py-5 col px-4">
            <div class="row px-3">
                <table class="table table-responsive table-lg table-bordered bg-light caption-top " aria-label="some"
                    style="border-radius: 15px;" style="width:85vw;">
                    <caption>Data Requests</caption>
                    <thead class="table-primary">
                        <tr>
                            <th scope="col"># (S/NO)</th>
                            <th scope="col">Data Request Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date Request</th>
                            <th scope="col">Request Status</th>
                            <th scope="col">Download Data</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row px-5 py-2 position-relative" style="right:1vw;">
                <button type="button" class="btn btn-primary position-absolute  w-25 end-0 " data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Add Data Request</button>
            </div>

            <!-- modal to add a request starts -->
            <!-- Modal -->
            <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Add Data Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit Request</button>
                        </div>
                    </div>
                </div>
                <!-- modal to add a request ends here -->
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- nav -tabs end here-->
    <!-- contentbar ends here -->
    <!-- main frame ends here -->
    <!-- java script links -->

    <!-- for tabs -->


    <!-- for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>