{% extends 'regs/index.html' %}

{% block index-nav %}
    <nav class="navbar navbar-expand-lg navbar-light " style=" font-size: 1.2rem ;">
        <div class="container-fluid">
            <a class="navbar-brand  display-6 fw-bold " href="#" style="position:relative; left:17vw;">DMHCS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" container w-100 ">
                <div class="collapse navbar-collapse col align-self-end " id="navbarNav">
                    <ul class="navbar-nav " style="position:fixed; left: 51vw">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'regs:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'accounts:login' %}?as=hospital">Hospital</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}?as=patient">Patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}?as=regulator">Regulators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}?as=researcher">Researchers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">FAQ's</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- form starts here -->
    <div class="container w-50 mt-5 mx-auto ">
        <div>
            <p class="display-6 text-center"> Register as a Hospital </p>
        </div>

        {% if errors %}
            {% for error in errors %}
                <div>
                    <p class="display-1 text-center"> {{ error }} </p>
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'accounts:register_hospital' %}" method="post" class=" row needs-validation ">
            {% csrf_token %}
            <div class=" d-grid g-2">
                <div class="mb-3 row">
                    <label for="first Name" class="col-sm-2 col-form-label">Hospital ID</label>
                    <div class="col-sm-10">
                        <input type="text" name="hospital_id" required class="form-control" id="hospital_id"
                               placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="phone number" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input type="tel" name="phone_number" required class="form-control" id="phone_number"
                               placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="hospital_email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" required name="email" class="form-control" id="hospital_email"
                               placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="hospital_type" class="col-sm-2 col-form-label">Hospital Type</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="hospital_type" aria-label="hospital type">
                            <option value="referral hospital">Referral Hospital</option>
                            <option value="regional hsopital">Regional Hospital</option>
                            <option value="district hopital">District Hospital</option>
                            <option value="ward hospital">Ward Hospital</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="hospital_type" class="col-sm-2 col-form-label">Affiliation</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="affiliation" aria-label="hospital affiliation"
                                id="hospital_affiliation">
                            <option value="private hospital">Private</option>
                            <option value="religious hsopital">Religious</option>
                            <option value="government hopital">Government</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="hospital_region" class="col-sm-2 col-form-label">Region</label>
                    <div class="col-sm-10">
                        <input type="text" name="region" required class="form-control" id="hospital_region"
                               placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="hospital_district" class="col-sm-2 col-form-label">Disctict</label>
                    <div class="col-sm-10">
                        <input type="text" name="district" required class="form-control" id="hospital_district"
                               placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="hospital_ward" class="col-sm-2 col-form-label">Ward</label>
                    <div class="col-sm-10">
                        <input type="text" name="ward" required class="form-control" id="hospital_ward" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password1" required class="form-control" id="hospital_password"
                               placeholder="************">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Confirm </label>
                    <div class="col-sm-10">
                        <input type="password" name="password2" required class="form-control" id="chospital_password"
                               placeholder="confirm password">
                    </div>
                </div>
                <div class="mb-3 row  p-2 ">
                    <div class="col-sm-12 position-relative  "
                         style="left:38.5vw; text-decoration: none; color: #0d6efd;">
                        <a href="{% url 'accounts:login' %}?as=researcher"
                           style="text-decoration: none; color: #0d6efd;">Have
                            an Account ? Login </a>
                    </div>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3 w-100" style=" border-radius: 5px ;">Register
                    </button>
                </div>

            </div>
    </div>
    </form>

    </div>
    <!-- form ends here -->
{% endblock %}