{% extends 'regs/index.html' %}

{% block index-nav %}
<nav class="navbar navbar-expand-lg navbar-light " style=" font-size: 1.2rem ;">
    <div class="container-fluid">
        <a class="navbar-brand  display-6 fw-bold " href="#" style="position:relative; left:17vw;">DMHCS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" container w-100 ">
            <div class="collapse navbar-collapse col align-self-end " id="navbarNav">
                <ul class="navbar-nav " style="position:fixed; left: 51vw">
                    <li class="nav-item">
                        <a class="nav-link "  href="{% url 'regs:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%    url 'accounts:login_hospital'  %}">Hospital</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'accounts:login_patient' %}">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%    url 'accounts:login_regulator'  %}">Regulators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login_researcher' %}">Researchers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" >FAQ's</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
    <!-- form starts here -->
    <div class="container w-50 mt-5 mx-auto ">
        <div>
            <p class="display-6 text-center"> Login as a Patient </p>
        </div>
        <form action="" method="get" class=" row needs-validation " >
            <div class=" d-grid g-2">
                
                <div class="mb-3 row">
                    <label for="first Name" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input type="tel" required class="form-control" id="researcher_email" placeholder="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" required class="form-control" id="researchers_password" placeholder="************">
                    </div>
                </div>
                <div class="mb-3 row  p-2 ">
                    
                    <div class="col-sm-12 position-relative  " style="left:41vw; ">
                        <a href="{% url 'accounts:forgot_password' %}" style="text-decoration: none; color: #0d6efd;" >Forgot Password ?</a>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3 w-100" style=" border-radius: 5px ;">Submit</button>
                </div>

            </div>
    </div>
    </form>

    </div>
    <!-- form ends here -->
{% endblock %}